/*ForgotPassword styles */

/*End of ForgotPassword styles */

/*ResetPassword styles */
.section {
    margin-top: 10%;
}

.headline {
    margin-bottom: 2rem;
}

.submit-button{ 
    padding-top: 0.5rem;
}
/*End of ResetPassword styles */