.nav {
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background: linear-gradient(90deg, rgba(28,166,125,1) 0%, rgba(28,166,125,1) 100%);
  font-weight: var(--text-medium);
  box-shadow: var(--shadow-light);
}
.nav a {
  color: #F9F6EE;
}

.nav a:hover {
  color: rgba(249, 246, 238, 0.6);
}
